@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

.prose {
    --tw-prose-body: theme(--color-gray-200);
    --tw-prose-headings: theme(--color-gray-100);
    --tw-prose-lead: theme(--color-gray-300);
    --tw-prose-links: theme(--color-primary-400);
    --tw-prose-bold: theme(--color-gray-100);
    --tw-prose-counters: theme(--color-gray-400);
    --tw-prose-bullets: theme(--color-gray-400);
    --tw-prose-hr: theme(--color-gray-700);
    --tw-prose-quotes: theme(--color-gray-200);
    --tw-prose-quote-borders: theme(--color-gray-600);
    --tw-prose-captions: theme(--color-gray-400);
    --tw-prose-code: theme(--color-gray-100);
    --tw-prose-pre-code: theme(--color-gray-100);
    --tw-prose-pre-bg: theme(--color-gray-900);
    --tw-prose-th-borders: theme(--color-gray-600);
    --tw-prose-td-borders: theme(--color-gray-700);
}
